.sct {
    background: linear-gradient(128deg, #01bbff 0%, #3953e6 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .gtext-green {
    background: linear-gradient(45deg, #6effb0, #1a8cff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .gtext-vibrantSun {
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .gtext-redBlue {
    -webkit-background-clip: text!important;
    -webkit-text-fill-color: transparent!important;
    background: linear-gradient(-132deg, #FF0000, #0000FF)!important;
  }
  
  .gtext-lightning {
    -webkit-background-clip: text!important;
    -webkit-text-fill-color: transparent!important;
    background: linear-gradient(130deg, #ff5c00 0%, #ffb800 100%);
  }
  
  .gtext-blue {
    background: linear-gradient(90deg, #64b0c8 0%, #2192b5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }