/* CSS for Dash.jsx */


body {
    background-color: black;
}

.panel {
    background-color: #ffffff6a;
    border-radius: 12px;
    margin: 16px;
    padding: 12px;
}

.panelTitle {
    margin: 8px;
}

.panelImage {
    height: 64px;
    width: auto;
    border-radius: 6px;
}